<table>
  <thead>
    <tr>
      <th></th>
      <th>lun.</th>
      <th>mar.</th>
      <th>mer.</th>
      <th></th>
    </tr>
    <tr>
      <td><a class="fa fa-chevron-left"></a></td>
      <td>19 juin</td>
      <td>20 juin</td>
      <td>21 juin</td>
      <td><a class="fa fa-chevron-right"></a></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td><a>09:00</a></td>
      <td><a>09:00</a></td>
      <td><a>09:00</a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><a>09:30</a></td>
      <td><a>09:30</a></td>
      <td><a>09:30</a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><a>10:00</a></td>
      <td><a>10:00</a></td>
      <td><a>10:00</a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><a>10:30</a></td>
      <td><a>10:30</a></td>
      <td><a>10:30</a></td>
      <td></td>
    </tr>
  </tbody>
</table>
