<div class="agenda"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
>
  <div fxFlex="5%">
    <a class="fa fa-chevron-left"></a>
  </div>
  <div fxFlex>
    <b>lun.</b>
    <p>19 juin</p>
    <div fxLayout="column">
      <div class="rdv" *ngFor="let rdv of monday">
        <a>{{ rdv.hour }}</a>
      </div>
    </div>
  </div>
  <div fxFlex>
    <b>mar.</b>
    <p>20 juin</p>
    <div fxLayout="column">
      <div class="rdv" *ngFor="let rdv of monday">
        <a>{{ rdv.hour }}</a>
      </div>
    </div>
  </div>
  <div fxFlex>
    <b>mer.</b>
    <p>21 juin</p>
    <div fxLayout="column">
      <div class="rdv" *ngFor="let rdv of monday">
        <a>{{ rdv.hour }}</a>
      </div>
    </div>
  </div>
  <div fxFlex>
    <b>jeu.</b>
    <p>22 juin</p>
    <div fxLayout="column">
      <div class="rdv" *ngFor="let rdv of monday">
        <a>{{ rdv.hour }}</a>
      </div>
    </div>
  </div>
  <div fxFlex>
    <b>ven.</b>
    <p>23 juin</p>
    <div fxLayout="column">
      <div class="rdv" *ngFor="let rdv of monday">
        <a>{{ rdv.hour }}</a>
      </div>
    </div>
  </div>
  <div fxFlex="5%">
    <a class="fa fa-chevron-right"></a>
  </div>
</div>
