.agenda {
  text-align: center;
}

.rdv {
  margin: 5px;
  background-color: lightblue;
  padding: 10px 30px;
  border-radius: 10px;
}

.rdv a {
  text-decoration: none;
  color: #3d3d3a;
  font-weight: bold;
}
